$headerHeight: 80px;

body {
  margin: 0;
  padding: 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); // Adjusted minimum width to 250px
  gap: 20px;
  margin-top: $headerHeight;
  padding: 20px;
}

.product-card {
  width: 400px; // Increased width for the product card
  height: auto; // Allowing height to adjust according to content
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  img {
    width: 100%; // Make the image fill its container
    height: 250px; // Fixed height for the image
    object-fit: cover; // Maintain aspect ratio and crop if necessary
    border-radius: 8px; // Apply border-radius to the image
  }

  .product-details {
    overflow: hidden; // Ensure content doesn't overflow
    h3 {
      margin-bottom: 10px;
      font-size: 18px;
      color: #333333;
    }

    li {
      margin-bottom: 5px;
      font-size: 14px;
      color: #666666;
      white-space: nowrap; // Prevent text from wrapping
      overflow: hidden; // Hide overflowing text
      text-overflow: ellipsis; // Display ellipsis (...) for overflow
    }
  }
}

// Responsive styles
@media only screen and (max-width: 768px) {
  .product-card {
    height: auto; // Allowing height to adjust according to content
  }
}